<div class="card">
  <h5 class="card-header">Perfil</h5>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6 img">
          <img src="{{data.imagen}}"  alt="" class="img-rounded">
        </div>
        <div class="col-md-6 details">
          <blockquote>
            <h5>{{data.nombre}}</h5>
            <small><cite title="Source Title">{{data.direccion}}  <i class="icon-map-marker"></i></cite></small>
          </blockquote>
          <p>
            {{data.telefono}}  <br>
          
            
          </p>
        </div>
      </div>
    </div>
  </div>
</div>