<div class="mat-app-background basic-container">

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="[ '/home' ]">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item [routerLink]="[ '/perfil' ]">
      <mat-icon>face</mat-icon>
      <span>Perfil</span>
    </button>
    <button mat-menu-item [routerLink]="[ '/contactos' ]">
      <mat-icon>contacts</mat-icon>
      <span>Contactos</span>
    </button>
  </mat-menu>
</div> 


<router-outlet></router-outlet>
