<div class="card">
  <h5 class="card-header">Libros</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">        
        <h5 class="card-title">Listado de Libros</h5>  
      </div>
        <div class="col-md-6 text-right">    
            <button mat-raised-button color="primary" data-toggle="modal" data-target="#exampleModal" (click)="nuevo()">Agregar</button>

        </div>  
    </div>

    <br>
    <br>




<table class="table table-hover text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Avatar</th>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">Telefono</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of datos; let i = index;">
      <th scope="row">1</th>
      <td><img src="{{item.imagen}}" alt="Avatar" class="md-avatar rounded-circle size-4"></td>
      <td>{{item.nombre}}</td>
      <td>{{item.direccion}}</td>
      <td>{{item.telefono}}</td>
      <td><button mat-raised-button color="warn" (click)="editar(item, i)" data-toggle="modal" data-target="#exampleModal"><mat-icon >edit</mat-icon></button></td>
    </tr>

  </tbody>
</table>
  </div>
</div>



  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div>
                <mat-form-field class="formbasic-full-width">
                    <input matInput placeholder="Nombre"  [(ngModel)]="libro.nombre">
                </mat-form-field>
                <br>
                <mat-form-field class="formbasic-full-width">
                    <input matInput placeholder="Dirección" [(ngModel)]="libro.direccion">
                </mat-form-field>
                <br>
                <mat-form-field class="formbasic-full-width">
                    <input matInput placeholder="Teléfono"  [(ngModel)]="libro.telefono">
                </mat-form-field>
                <br>
                <mat-form-field class="formbasic-full-width">
                    <input matInput placeholder="Url Imagen" [(ngModel)]="libro.imagen">
                </mat-form-field>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="guardar()">Save changes</button>

        </div>
      </div>
    </div>
  </div>