


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

button:focus {
  outline: 0px !important;
  outline: 0px !important;
}


mat-form-field {
  width: 100% !important;
}